*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 25px;
}
h1{
    padding: 15px;
    border: 10px;
    border-style: dashed;
    color: crimson;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}
p{
    color: blueviolet;
    text-align: justify;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    padding:10px;
}
img{
    width: 49%;
}
body{
    background-color: pink;
}